:root {
    --color-white: #fff;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wordmark {
    font-weight: 100;
    font-size: 4.5rem;
    color: inherit;
    letter-spacing: 3px;
    color: var(--color-white);
}

.header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__info > a:not(:last-child) {
    margin: 0 1.5rem;
}

.fa {
    font-size: 3.5rem !important;
    color: var(--color-white);
}

.search-bar {
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
    outline: none;
    font-weight: 100;
}

.video-content {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    height: 75vh;
}

.video-detail {
    width: 80%;
    margin-right: 3rem;
}

.video-detail__embedded-video {
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-white);
    border-radius: 8px;
}

.related-videos {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.related-videos__video-item:not(:last-of-type) {
    margin-bottom: 1rem;
}

.related-videos__video-item {
    display: flex;
    margin-right: 5px;
    color: var(--color-white);
    font-weight: 300;
    cursor: pointer;
    height: 100%;
}

.related-videos__thumbnail {
    width: 55%;
    margin-right: 10px;
    border: 1px solid var(--color-white);
    border-radius: 5px;
}

.related-videos__text {
    text-align: left;
    align-self: center;
    font-size: 1.5rem;
}

@media only screen and (max-width: 100rem) {
    .header__wordmark {
        letter-spacing: 2px;
        font-size: 3.5rem;
    }

    .fa {
        font-size: 2.5rem !important;
    }

    .search-bar {
        padding: 6px;
    }

    .video-content {
        flex-direction: column;
        margin-top: 2rem;
    }

    .video-detail {
        width: 100%;
        height: 60vh;
    }

    .related-videos {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .related-videos__video-item {
        flex-direction: column;
    }

    .related-videos__thumbnail {
        width: 100%;
    }

    .related-videos__thumbnail:not(:last-of-type) {
        margin-right: 1rem;
    }

    .related-videos__text {
        font-size: 1rem;
        padding: 2px;
    }
}
